$navy: #022c48;
$lightorange: #ffd3bf;
$lightpink: #fbeee8;

$fontL_pc: 35px;
$fontM_pc: 25px;
$fontS_pc: 15px;
$fontXS_pc: 12px;
$fontTitle_pc: 80px;

$fontL_sp: 20px;
$fontM_sp: 15px;
$fontS_sp: 8px;
$fontXS_sp: 6px;
$fontTitle_sp: 50px;


$breakpoint-pc: 980px;
$breakpoint-sp: 736px; //スマホ横向き

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin screen($break-point-min,$break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
        @content;
    }
}

/* font */
@font-face {
    font-family: 'Noteworthy-Bold';
    src:url('./fonts/Noteworthy-Bold-02.ttf');
}
@font-face {
    font-family: 'Noteworthy-Light';
    src:url('./fonts/Noteworthy-Light-01.ttf');
}
@font-face {
    font-family: 'UtsukushiFONT';
    src:url('./fonts/UtsukushiFONT.otf');
}

.hidden{
    visibility: hidden;
}

header{
    position: fixed;
    top: 3%;
    right: 3%;
    background-color: $lightpink;
    border: 1px $navy solid;
    border-radius: 25px;
    padding: 0.5vw 2vw;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    z-index: 5;
    a{
        display: inline;
        font-family: 'Noteworthy-Light';
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontS_sp;
        }
        color: $navy;
        text-decoration: none;
        padding: 0 1vw;
    }
}

.top{
    width: 100vw;
    height: 85vh;
    position: relative;
    .title{
        position: absolute;
        top: 40vh;
        left: 10vw;
        color: $navy;
        z-index: 2;
        text-align: center;
        .main_title{
            font-family: 'Noteworthy-Bold';
            font-size: $fontTitle_pc;
            @include max-screen($breakpoint_sp) {
                font-size: $fontTitle_sp;
            }
        }
        
        .sub_title{
            font-family: 'Noteworthy-Light';
            font-size: $fontL_pc;
            @include max-screen($breakpoint_sp) {
                font-size: $fontL_sp;
            }
        }
    }
    .top_image{
        width: 60%;
        height: 80%;
        position: absolute;
        top: 15vh;
        right: 8vw;
        height: 80%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;   
        }
    }
}

nav{
    width: 100vw;
    height: $fontM_pc*2;
    @include max-screen($breakpoint_sp) {
        height: $fontM_sp*2;
    }
    margin-top: 2vh;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        li{
            width: (100vw/4);
            height: 100%;
            background-color: $lightorange;
            border: 1px white solid;
            color: $navy;
            font-size: $fontM_pc;
            @include max-screen($breakpoint_sp) {
                font-size: $fontM_sp;
            }
            font-family: 'Noteworthy-Light';
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: $navy;
            }
        }
    }
}

section{
    padding: 8vh 0 8vh;
}

.aboutMe{
    width: 100vw;
    text-align: center;
    .my_image{
        width: 15vw;
        height: 15vw;
        background-color: $lightpink;
        border-radius: 50%;
        margin: 4vh auto 0;
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .my_name{
        font-size: $fontL_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontL_sp;
        }
        color: $navy;
        font-family: 'UtsukushiFONT';
        margin: 4vh 0;
    }
    
    .my_introduction{
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontS_sp;
        }
        line-height: 145%;
        color: $navy;
        font-family: 'UtsukushiFONT';
        margin-bottom: 4vh;
    }
}

.section_title{
    font-family: 'Noteworthy-Light';
    font-size: $fontM_pc;
    @include max-screen($breakpoint_sp) {
        font-size: $fontM_sp;
    }
    text-align: center;
}

.works{
    width: 100vw;
    background-color: $navy;
    padding-bottom: 4vh;
    .section_title{
        color: white;
        padding-bottom: 4vh;
    }
    .work_list{
        width: 80vw;
        margin: 0 auto 0;
        .works_03{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 4vh;
            .work_photo{
                width: (55vw / 3);
                transition: all 0.3s ease;
                background: $lightorange;
                img{
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        } 
    }
}

.skill{
    width: 100vw;
    background-color: $lightpink;
    color: $navy;
    .section_title{
        padding-bottom: 4vh;
    }
    .skill_part{
        width: 90vw;
        margin: 0 auto 0;
        display: flex;
        justify-content: space-around;
        .skill_box{
            text-align: center;
            .skill_img{
                width: 35%;
                margin: 2vh auto 4vh;
                img{
                    width: 100%;
                }
            }
            .skill_comment{
                font-size: $fontS_pc;
                @include max-screen($breakpoint_sp) {
                    font-size: $fontS_sp;
                }
                font-family: 'UtsukushiFONT';
                margin-bottom: 2vh;
            }
            .each_skill{
                font-size: $fontM_pc;
                @include max-screen($breakpoint_sp) {
                    font-size: $fontM_sp;
                }
                font-family: 'Noteworthy-Light';
                margin-bottom: 2vh;
            }
        }
    }
}

.activities{
    width: 100vw;
    color: $navy;
    .section_title{
        padding-bottom: 1vh;
    }
    .section_subTitle{
        padding-bottom: 4vh;
        text-align: center;
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontS_sp;
        }
        font-family: 'UtsukushiFONT';
    }
    .activities_part{
        width: 90vw;
        margin: 0 auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        .activity_box{
            text-align: center;
            width: 15vw;
            height: 15vw;
            z-index: 1;
            .activity_img{
                display: inline-block;
                width: 10vw;
                height: 10vw;
                // background-color: $lightorange;
                margin: 4vh auto 4vh;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .activity_comment{
                font-size: $fontS_pc;
                @include max-screen($breakpoint_sp) {
                    font-size: $fontS_sp;
                }
                font-family: 'UtsukushiFONT';
            }
        }
        .activity_content{
            position: absolute;
            // width: 60vw;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            background-color: $lightorange;
            color: $navy;
            font-size: $fontXS_pc;
            line-height: $fontXS_pc + 5px;
            @include max-screen($breakpoint_sp) {
                font-size: $fontXS_sp;
                line-height: $fontXS_sp + 5px;
            }
            font-family: 'UtsukushiFONT';
            padding: 3vh;
            transition: all .3s;
        }
        .con_sydney{
            left: 20%;
            width: 60%;
            opacity: 0;
            z-index: 0;
        }
        .con_intern{
            left: 40%;
            width: 60%;
            opacity: 0;
            z-index: 0;
        }
        .con_workshop{
            left: 60%;
            width: 40%;
            opacity: 0;
            z-index: 0;
        }
        .con_othlohack{
            left: 0;
            width: 60%;
            opacity: 0;
            z-index: 0;
        }
        .con_poster{
            left: 10%;
            width: 60%;
            opacity: 0;
            z-index: 0;
            .con_img{
                width: 50%;
                // height: 30%;
                margin: 1vh;
                display: flex;
                justify-content: space-between;
                .DM_img{
                    width: 100%;
                    height: auto;
                    padding: 1vh;
                    display: inline-block;
                }
                .pos_img{
                    width: 50%;
                    height: auto;
                    padding: 1vh;
                    display: inline-block;
                }
            }
        }
    }
}

footer{
    width: 100vw;
    height: 5vh;
    background-color: $navy;
    margin-top: 4vh;
}
