@media screen and (orientation: landscape) {
  .caution {
    display: none;
  }
}

/* font */
@font-face {
  font-family: 'Noteworthy-Bold';
  src: url("./fonts/Noteworthy-Bold-02.ttf");
}

@font-face {
  font-family: 'Noteworthy-Light';
  src: url("./fonts/Noteworthy-Light-01.ttf");
}

@font-face {
  font-family: 'UtsukushiFONT';
  src: url("./fonts/UtsukushiFONT.otf");
}

.hidden {
  visibility: hidden;
}

header {
  position: fixed;
  top: 3%;
  right: 3%;
  background-color: #fbeee8;
  border: 1px #022c48 solid;
  border-radius: 25px;
  padding: 0.5vw 2vw;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

header a {
  display: inline;
  font-family: 'Noteworthy-Light';
  font-size: 15px;
  color: #022c48;
  text-decoration: none;
  padding: 0 1vw;
}

@media screen and (max-width: 812px) {
  header a {
    font-size: 10px;
  }
}

#loadingWrap {
  width: 100%;
  height: 100vh;
  background: #fbeee8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
}

#loadingWrap .spinner {
  margin: 48vh auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

#loadingWrap .dot1, #loadingWrap .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #022c48;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

#loadingWrap .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

#loadingWrap .loadingNone {
  display: none;
}

.top {
  width: 100vw;
  height: 85vh;
  position: relative;
}

.top .title {
  position: absolute;
  top: 40vh;
  left: 4vw;
  color: #022c48;
  z-index: 12;
  text-align: center;
}

.top .title .main_title {
  font-family: 'Noteworthy-Bold';
  font-size: 65px;
}

@media screen and (max-width: 812px) {
  .top .title .main_title {
    font-size: 35px;
  }
}

.top .title .sub_title {
  font-family: 'Noteworthy-Light';
  font-size: 35px;
}

@media screen and (max-width: 812px) {
  .top .title .sub_title {
    font-size: 20px;
  }
}

.top #slideshow {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 14vh;
  right: 8vw;
}

.top #slideshow p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0.0;
}

.top #slideshow p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top #slideshow p a {
  width: 15%;
  height: 30px;
  color: #022c48;
  border: solid 0.5px #022c48;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: absolute;
  bottom: 3%;
  right: 5%;
  z-index: 11;
  text-decoration: none;
}

@media screen and (max-width: 812px) {
  .top #slideshow p a {
    font-size: 8px;
    height: 16px;
  }
}

.top #slideshow p a:hover {
  background-color: #fbeee8;
}

.top #slideshow .active {
  z-index: 10;
  opacity: 1.0;
}

.top #slideshow .last-active {
  z-index: 9;
}

.caution {
  width: 100vw;
  height: 30px;
  line-height: 30px;
  background-color: #022c48;
  color: #fbeee8;
  font-size: 10px;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
  text-align: center;
}

nav {
  width: 100vw;
  height: 50px;
  margin-top: 2vh;
  margin-bottom: 6vh;
}

@media screen and (max-width: 812px) {
  nav {
    height: 30px;
  }
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

nav ul li {
  width: 25vw;
  height: 100%;
  background-color: #ffd3bf;
  border: 1px white solid;
  color: #022c48;
  font-size: 25px;
  font-family: 'Noteworthy-Light';
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 812px) {
  nav ul li {
    font-size: 15px;
  }
}

nav ul li a {
  text-decoration: none;
  color: #022c48;
}

section {
  padding: 8vh 0 8vh;
}

.aboutMe {
  width: 100vw;
  text-align: center;
}

.aboutMe .my_image {
  width: 15vw;
  height: 15vw;
  background-color: #fbeee8;
  border-radius: 50%;
  margin: 4vh auto 0;
}

.aboutMe .my_image img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.aboutMe .my_name {
  font-size: 35px;
  color: #022c48;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
  margin: 4vh 0;
}

@media screen and (max-width: 812px) {
  .aboutMe .my_name {
    font-size: 20px;
  }
}

.aboutMe .my_introduction {
  font-size: 15px;
  line-height: 145%;
  color: #022c48;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
  margin-bottom: 4vh;
}

@media screen and (max-width: 812px) {
  .aboutMe .my_introduction {
    font-size: 10px;
  }
}

.section_title {
  font-family: 'Noteworthy-Light';
  font-size: 35px;
  text-align: center;
}

@media screen and (max-width: 812px) {
  .section_title {
    font-size: 20px;
  }
}

.section_subTitle {
  text-align: center;
  font-size: 15px;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
}

@media screen and (max-width: 812px) {
  .section_subTitle {
    font-size: 10px;
  }
}

.works {
  width: 100vw;
  background-color: white;
  padding-bottom: 2vh;
}

.works .section_title {
  color: #022c48;
  padding-bottom: 1vh;
}

.works .section_subTitle {
  color: #022c48;
  padding-bottom: 8vh;
}

.works .work_list {
  width: 60vw;
  margin: 0 auto 0;
}

.works .work_list .works_hr {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 6vh;
}

.works .work_list .works_hr .work_photo {
  width: 22.5vw;
  transition: all 0.3s ease;
  background: #022c48;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 1vh;
}

.works .work_list .works_hr .work_photo img {
  opacity: 1;
  width: 100%;
  padding: 2vh 2vh 0 2vh;
}

.works .work_list .works_hr .work_photo img:hover {
  opacity: 0.7;
}

.works .work_list .works_hr .work_photo a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
}

@media screen and (max-width: 812px) {
  .works .work_list .works_hr .work_photo a {
    font-size: 10px;
  }
}

.works .work_list .work_03 .work_photo {
  width: 16.66667vw;
}

.skill {
  width: 100vw;
  background-color: #fbeee8;
  color: #022c48;
}

.skill .section_title {
  padding-bottom: 4vh;
}

.skill .skill_part {
  width: 90vw;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-around;
}

.skill .skill_part .skill_box {
  text-align: center;
}

.skill .skill_part .skill_box .skill_img {
  width: 35%;
  margin: 2vh auto 4vh;
}

.skill .skill_part .skill_box .skill_img img {
  width: 100%;
}

.skill .skill_part .skill_box .skill_comment {
  font-size: 15px;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
  margin-bottom: 2vh;
}

@media screen and (max-width: 812px) {
  .skill .skill_part .skill_box .skill_comment {
    font-size: 10px;
  }
}

.skill .skill_part .skill_box .each_skill {
  font-size: 25px;
  font-family: 'Noteworthy-Light';
  margin-bottom: 2vh;
}

@media screen and (max-width: 812px) {
  .skill .skill_part .skill_box .each_skill {
    font-size: 15px;
  }
}

.activities {
  width: 100vw;
  color: #022c48;
  margin-bottom: 4vh;
}

.activities .section_title {
  padding-bottom: 1vh;
}

.activities .section_subTitle {
  padding-bottom: 4vh;
}

.activities .activities_part {
  width: 90vw;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.activities .activities_part .activity_box {
  text-align: center;
  width: 15vw;
  height: 15vw;
  z-index: 1;
}

.activities .activities_part .activity_box .activity_img {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin: 4vh auto 4vh;
}

.activities .activities_part .activity_box .activity_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.activities .activities_part .activity_box .activity_comment {
  font-size: 15px;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
}

@media screen and (max-width: 812px) {
  .activities .activities_part .activity_box .activity_comment {
    font-size: 10px;
  }
}

.activities .activities_part .activity_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: #ffd3bf;
  color: #022c48;
  font-size: 15px;
  line-height: 20px;
  font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
  padding: 3vh;
  transition: all .3s;
}

@media screen and (max-width: 812px) {
  .activities .activities_part .activity_content {
    font-size: 8px;
    line-height: 13px;
  }
}

.activities .activities_part .con_sydney {
  left: 20%;
  width: 60%;
  opacity: 0;
  z-index: 0;
}

.activities .activities_part .con_intern {
  left: 40%;
  width: 60%;
  opacity: 0;
  z-index: 0;
}

.activities .activities_part .con_workshop {
  left: 60%;
  width: 40%;
  opacity: 0;
  z-index: 0;
}

.activities .activities_part .con_othlohack {
  left: 0;
  width: 60%;
  opacity: 0;
  z-index: 0;
}

.activities .activities_part .con_poster {
  left: 10%;
  width: 80%;
  opacity: 0;
  z-index: 0;
}

.activities .activities_part .con_poster .con_img {
  width: 50%;
  margin: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.activities .activities_part .con_poster .con_img .DM_img {
  width: 80%;
  height: auto;
  padding: 1vh;
  display: inline-block;
}

.activities .activities_part .con_poster .con_img .pos_img {
  width: 40%;
  height: auto;
  padding: 1vh;
  display: inline-block;
}

footer {
  width: 100vw;
  height: 5vh;
  background-color: #022c48;
  margin-top: 4vh;
}
