$navy: #022c48;
$lightorange: #ffd3bf;
$lightpink: #fbeee8;

$fontL_pc: 35px;
$fontM_pc: 25px;
$fontS_pc: 15px;
$fontXS_pc: 12px;
$fontTitle_pc: 65px;

$fontL_sp: 20px;
$fontM_sp: 15px;
$fontS_sp: 10px;
$fontXS_sp: 8px;
$fontTitle_sp: 35px;


$breakpoint-pc: 980px;
$breakpoint-sp: 812px; //スマホ横向き

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin screen($break-point-min,$break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
        @content;
    }
}

@media screen and (orientation: landscape) {
    .caution { 
        display: none; 
    }
}

/* font */
@font-face {
    font-family: 'Noteworthy-Bold';
    src:url('./fonts/Noteworthy-Bold-02.ttf');
}
@font-face {
    font-family: 'Noteworthy-Light';
    src:url('./fonts/Noteworthy-Light-01.ttf');
}
@font-face {
    font-family: 'UtsukushiFONT';
    src:url('./fonts/UtsukushiFONT.otf');
}

html body{
    overflow-x: hidden;
}

.hidden{
    visibility: hidden;
}

.none{
    display: none;
}

header{
    position: fixed;
    top: 3%;
    right: 3%;
    background-color: $lightpink;
    border: 1px $navy solid;
    border-radius: 25px;
    padding: 0.5vw 2vw;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    z-index: 20;
    a{
        display: inline;
        font-family: 'Noteworthy-Light';
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontS_sp;
        }
        color: $navy;
        text-decoration: none;
        padding: 0 1vw;
    }
}

#loadingWrap {
    width: 100%;
    height: 100vh;
    background: $lightpink;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 22;
    .spinner {
        margin: 48vh auto;
        width: 40px;
        height: 40px;
        position: relative;
        text-align: center;
        
        -webkit-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;
    }
    .dot1, .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: $navy;
        border-radius: 100%;
        
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }
    .dot2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    @-webkit-keyframes sk-rotate {
        100% {
            -webkit-transform: rotate(360deg) 
        }
    }
    @keyframes sk-rotate {
        100% { 
            transform: rotate(360deg); 
            -webkit-transform: rotate(360deg) 
        }
    }
    @-webkit-keyframes sk-bounce {
        0%, 100% { 
            -webkit-transform: scale(0.0) 
        }
        50% {
            -webkit-transform: scale(1.0) 
        }
    }
    @keyframes sk-bounce {
        0%, 100% { 
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 50% { 
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
    .loadingNone {
        display: none;
    }
}


.top{
    width: 100vw;
    height: 87vh;
    position: relative;
    // background-color: $lightpink;
    .title{
        position: absolute;
        top: 40vh;
        left: 4vw;
        color: $navy;
        z-index: 12;
        text-align: center;
        .main_title{
            font-family: 'Noteworthy-Bold';
            font-size: $fontTitle_pc;
            @include max-screen($breakpoint_sp) {
                font-size: $fontTitle_sp;
            }
        }
        
        .sub_title{
            font-family: 'Noteworthy-Light';
            font-size: $fontL_pc;
            @include max-screen($breakpoint_sp) {
                font-size: $fontL_sp;
            }
        }
    }

    .top_image{
        width: 60%;
        height: 80%;
        position: absolute;
        top: 15vh;
        right: 8vw;
        height: 80%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;   
        }
    }

//     #slideshow{
//         width: 60%;
//         height: 80%;
//         position: absolute;
//         top: 14vh;
//         right: 8vw;
//         p{
//             width: 100%;
//             height: 100%;
//             position: absolute;
//             top: 0;
//             left:0;
//             z-index: 8;
//             opacity: 0.0; 
//             img{
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;  
//             }
//             a{  
//                 width: 15%;
//                 height: $fontXS_pc * 2;
//                 color: $navy;
//                 // background-color: $lightpink;
//                 border: solid 0.5px $navy;
//                 // font-family: 'UtsukushiFONT';
//                 font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 font-size: $fontXS_pc;
//                 @include max-screen($breakpoint_sp) {
//                     font-size: $fontXS_sp;
//                     height: $fontXS_sp * 2;
//                 }
//                 position: absolute;
//                 bottom: 3%;
//                 right: 5%;
//                 z-index: 11;
//                 text-decoration: none;
//                 &:hover{
//                     background-color: $lightpink;
//                 }
//             }
//         }
//         .active {
//             z-index: 10;
//             opacity: 1.0;
//         }
//         .last-active {
//             z-index: 9;
//         }
//     }

}

.caution{
    width: 100vw;
    height: $fontS_sp * 3;
    line-height: $fontS_sp * 3;
    background-color: $navy;
    color: $lightpink;
    font-size: $fontS_sp;
    // font-family: 'UtsukushiFONT';
    font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
    text-align: center;
}

// nav{
//     width: 100vw;
//     height: $fontM_pc*2;
//     margin-top: 2vh;
//     margin-bottom: 6vh;
//     @include max-screen($breakpoint_sp) {
//         height: $fontM_sp*2;
//     }
//     ul{
//         width: 100%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         li{
//             width: (100vw/4);
//             height: 100%;
//             background-color: $lightpink;
//             border: 1px white solid;
//             color: $navy;
//             font-size: $fontM_pc;
//             @include max-screen($breakpoint_sp) {
//                 font-size: $fontM_sp;
//             }
//             font-family: 'Noteworthy-Light';
//             list-style: none;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             a{
//                 text-decoration: none;
//                 color: $navy;
//             }
//         }
//     }
// }

.nav_scroll{
    position: relative;
    text-align: center;
    // margin-top: 2vh;
    margin-bottom: 6vh;
    color: $navy;
    font-family: 'Noteworthy-Light';
    padding-top: 50px;
    span{
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid $navy;
        border-bottom: 1px solid $navy;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb 2s infinite;
        animation: sdb 2s infinite;
        box-sizing: border-box;
    }
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

section{
    padding: 8vh 0 8vh;
}

.aboutMe{
    width: 100vw;
    text-align: center;
    .my_image{
        width: 15vw;
        height: 15vw;
        background-color: $lightpink;
        border-radius: 50%;
        margin: 4vh auto 0;
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .my_name{
        font-size: $fontL_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontL_sp;
        }
        color: $navy;
        // font-family: 'UtsukushiFONT';
        font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
        margin: 4vh 0;
    }
    
    .my_introduction{
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontS_sp;
        }
        line-height: 145%;
        color: $navy;
        // font-family: 'UtsukushiFONT';
        font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
        margin-bottom: 4vh;
    }
}

.section_title{
    font-family: 'Noteworthy-Light';
    font-size: $fontL_pc;
    @include max-screen($breakpoint_sp) {
        font-size: $fontL_sp;
    }
    text-align: center;
}

.section_subTitle{
    // padding-bottom: 4vh;
    text-align: center;
    font-size: $fontS_pc;
    @include max-screen($breakpoint_sp) {
        font-size: $fontS_sp;
    }
    // font-family: 'UtsukushiFONT';
    font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
}

.section_title_study{
    font-family: 'Noteworthy-Light';
    font-size: $fontM_pc;
    @include max-screen($breakpoint_sp) {
        font-size: $fontM_sp;
    }
    text-align: center;
    // padding-bottom: 4vh;
}

.works{
    width: 100vw;
    background-color: $lightorange;
    // background-color: white;
    padding-bottom: 2vh;
    .section_title{
        // color: white;
        color: $navy;
        padding-bottom: 1vh;
    }
    .section_subTitle{
        color: $navy;
        padding-bottom: 6vh;
    }
    .work_list{
        width: 85vw;
        margin: 0 auto 0;
        .works_04{            
            display: flex;
            justify-content: space-around;
            margin-bottom: 6vh;
            .work_photo{
                width: (100% / 4);
                // display: inline-block;
                transition: all 0.3s ease;
                // text-align: center;
                padding-bottom: 1vh;
                img{
                    opacity: 1;
                    width: 100%;
                    // height: 100%;
                    padding: 2vh 2vh 0 2vh;
                    // &:hover{
                    //     opacity: 0.7;
                    // }
                }
                a{
                    text-decoration: none;
                    color: $navy;
                    font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
                    p{
                        width: 80%;
                        margin: 0 auto 0;
                    }
                    .more{
                        width: 50%;
                        margin: 2vh auto 0;
                        line-height: $fontS_pc + 5px;
                        height: $fontS_pc + 5px;
                        @include max-screen($breakpoint_sp) {
                            line-height: $fontS_sp + 5px;
                            height: $fontS_sp + 5px;
                        }
                        border: 1px solid $navy;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                }
                &:hover{
                    opacity: 0.7;
                }
            }
            .bd_r{
                border-right: 1px solid white;
            }
        }

        .works_03{   
            width: 85vw * 0.75;
            // background-color: $lightpink;
            margin: 0 auto 6vh;       
            display: none;
            justify-content: space-around;
            .work_photo{
                width: (100% / 3);
                // display: inline-block;
                transition: all 0.3s ease;
                // text-align: center;
                padding-bottom: 1vh;
                img{
                    opacity: 1;
                    width: 100%;
                    // height: 100%;
                    padding: 2vh 2vh 0 2vh;
                    // &:hover{
                    //     opacity: 0.7;
                    // }
                }
                a{
                    text-decoration: none;
                    color: $navy;
                    font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
                    p{
                        width: 80%;
                        margin: 0 auto 0;
                    }
                    .more{
                        width: 50%;
                        margin: 2vh auto 0;
                        line-height: $fontS_pc + 5px;
                        height: $fontS_pc + 5px;
                        @include max-screen($breakpoint_sp) {
                            line-height: $fontS_sp + 5px;
                            height: $fontS_sp + 5px;
                        }
                        border: 1px solid $navy;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                }
                &:hover{
                    opacity: 0.7;
                }
            }
            .bd_r{
                border-right: 1px solid white;
            }
        }
        
        #view_all{
            width: 10vw;
            height: $fontM_pc + 15px;
            font-size: $fontM_pc;
            font-family: 'Noteworthy-Light';
            color: $navy;
            margin: 3vh auto 3vh;
            // background-color: white;
            line-height: $fontM_pc + 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $navy;
            border-radius: 25px;
            cursor : pointer;
            &:hover{
                color: white;
                background-color: $navy;
            }
        }

        #close{
            width: 10vw;
            height: $fontM_pc + 15px;
            font-size: $fontM_pc;
            font-family: 'Noteworthy-Light';
            color: $navy;
            margin: 3vh auto 3vh;
            // background-color: white;
            line-height: $fontM_pc + 10px;
            display: none;
            align-items: center;
            justify-content: center;
            border: 1px solid $navy;
            border-radius: 25px;
            cursor : pointer;
            &:hover{
                color: white;
                background-color: $navy;
            }
        }



    }
    .font_S{
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontS_sp;
        }
    }
    .font_XS{
        font-size: $fontXS_pc;
        @include max-screen($breakpoint_sp) {
            font-size: $fontXS_sp;
        }
    }
    .cen{
        text-align: center;
    }
}

.skill{
    width: 100vw;
    background-color: $lightpink;
    color: $navy;
    .section_title{
        padding-bottom: 4vh;
    }
    .skill_part{
        width: 90vw;
        margin: 0 auto 0;
        display: flex;
        justify-content: space-around;
        .skill_box{
            text-align: center;
            .skill_img{
                width: 35%;
                margin: 2vh auto 4vh;
                img{
                    width: 100%;
                }
            }
            .skill_comment{
                font-size: $fontS_pc;
                @include max-screen($breakpoint_sp) {
                    font-size: $fontS_sp;
                }
                // font-family: 'UtsukushiFONT';
                font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
                margin-bottom: 2vh;
            }
            .each_skill{
                font-size: $fontM_pc;
                @include max-screen($breakpoint_sp) {
                    font-size: $fontM_sp;
                }
                font-family: 'Noteworthy-Light';
                margin-bottom: 2vh;
            }
        }
    }
}

.activities{
    width: 100vw;
    color: $navy;
    margin-bottom: 4vh;
    // color: white;
    // background-color: $navy;
    .section_title{
        padding-bottom: 1vh;
    }
    .section_subTitle{
        padding-bottom: 4vh;
        // text-align: center;
        // font-size: $fontS_pc;
        // @include max-screen($breakpoint_sp) {
        //     font-size: $fontS_sp;
        // }
        // font-family: 'UtsukushiFONT';
    }
    .activities_part{
        width: 90vw;
        margin: 0 auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        .activity_box{
            text-align: center;
            width: 15vw;
            height: 15vw;
            z-index: 1;
            .activity_img{
                display: inline-block;
                width: 10vw;
                height: 10vw;
                // background-color: $lightorange;
                margin: 4vh auto 4vh;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .activity_comment{
                font-size: $fontS_pc;
                @include max-screen($breakpoint_sp) {
                    font-size: $fontS_sp;
                }
                // font-family: 'UtsukushiFONT';
                font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
            }
        }
        .activity_content{
            position: absolute;
            // width: 60vw;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            background-color: $lightpink;
            color: $navy;
            font-size: $fontS_pc;
            line-height: $fontS_pc + 5px;
            @include max-screen($breakpoint_sp) {
                font-size: $fontXS_sp;
                line-height: $fontXS_sp + 5px;
            }
            // font-family: 'UtsukushiFONT';
            font-family: tbchibirgothicplusk-pro, 'UtsukushiFONT';
            padding: 3vh;
            transition: all .3s;
            box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
        }
        .con_sydney{
            left: 20%;
            width: 50%;
            opacity: 0;
            z-index: 0;
        }
        .con_intern{
            left: 40%;
            width: 50%;
            opacity: 0;
            z-index: 0;
        }
        .con_workshop{
            left: 60%;
            width: 40%;
            opacity: 0;
            z-index: 0;
        }
        .con_othlohack{
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 0;
        }
        .con_poster{
            left: 10%;
            width: 80%;
            opacity: 0;
            z-index: 0;
            .con_img{
                width: 50%;
                // height: 30%;
                margin: 1vh;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .DM_img{
                    width: 80%;
                    height: auto;
                    padding: 1vh;
                    display: inline-block;
                }
                .pos_img{
                    width: 40%;
                    height: auto;
                    padding: 1vh;
                    display: inline-block;
                }
            }
        }
    }
}

footer{
    width: 100vw;
    height: 5vh;
    background-color: $navy;
    margin-top: 4vh;
}
