:root{
    --mainnavy: #022c48;
    --lightorange: #ffd3bf;
    --lightpink: #fbeee8;

    --fontL: 40px;
    --fontS: 15px;

    --fontTitle: 80px;
}

/* font */
@font-face {
    font-family: 'Noteworthy-Bold';
    src:url('./fonts/Noteworthy-Bold-02.ttf');
}
@font-face {
    font-family: 'Noteworthy-Light';
    src:url('./fonts/Noteworthy-Light-01.ttf');
}
@font-face {
    font-family: 'UtsukushiFONT';
    src:url('./fonts/UtsukushiFONT.otf');
}

header{
    position: fixed;
    top: 3%;
    right: 3%;
    background-color: var(--lightpink);
    border: 1px var(--mainnavy) solid;
    border-radius: 25px;
    padding: 0.5vw 2vw;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    z-index: 5;
}

header a{
    display: inline;
    font-family: 'Noteworthy-Light';
    font-size: var(--fontS);
    color: var(--mainnavy);
    text-decoration: none;
    padding: 0 1vw;
}

.top{
    width: 100vw;
    height: 85vh;
    position: relative;
}

.title{
    position: absolute;
    top: 40vh;
    left: 10vw;
    color: var(--mainnavy);
    z-index: 2;
    text-align: center;
}

.main_title{
    font-family: 'Noteworthy-Bold';
    font-size: var(--fontTitle);
}

.sub_title{
    font-family: 'Noteworthy-Light';
    font-size: var(--fontL);
}

.top_image{
    width: 60%;
    height: 80%;
    position: absolute;
    top: 15vh;
    right: 8vw;
    height: 80%;
    
}

.top_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

nav{
    width: 100vw;
    height: calc(var(--fontS) * 2);
    margin-top: 2vh;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

li{
    width: calc(100vw/4);
    height: 100%;
    background-color: var(--lightorange);
    border: 1px white solid;
    color: var(--mainnavy);
    font-size: var(--fontS);
    font-family: 'Noteworthy-Light';
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe{
    width: 100vw;
    text-align: center;
}

.my_name{
    font-size: var(--fontL);
    color: var(--mainnavy);
    font-family: 'UtsukushiFONT';
    margin: 4vh 0;
}

.my_introduction{
    font-size: var(--fontS);
    color: var(--mainnavy);
    font-family: 'UtsukushiFONT';
    margin-bottom: 4vh;
}

.works{
    width: 100%;
    background-color: var(--mainnavy);
}