$navy: #022c48;
$lightorange: #ffd3bf;
$lightpink: #fbeee8;

$fontL_pc: 35px;
$fontM_pc: 25px;
$fontS_pc: 15px;
$fontXS_pc: 12px;
$fontTitle_pc: 80px;

$fontL_sp: 20px;
$fontM_sp: 15px;
$fontS_sp: 10px;
$fontXS_sp: 8px;
$fontTitle_sp: 50px;


$breakpoint-pc: 980px;
$breakpoint-sp: 736px; //スマホ横向き

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin screen($break-point-min,$break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
        @content;
    }
}

/* font */
@font-face {
    font-family: 'Noteworthy-Bold';
    src:url('./fonts/Noteworthy-Bold-02.ttf');
}
@font-face {
    font-family: 'Noteworthy-Light';
    src:url('./fonts/Noteworthy-Light-01.ttf');
}
@font-face {
    font-family: 'UtsukushiFONT';
    src:url('./fonts/UtsukushiFONT.otf');
}

header{
    position: fixed;
    top: 3%;
    right: 3%;
    background-color: $lightpink;
    border: 1px $navy solid;
    border-radius: 25px;
    padding: 0.5vw 2vw;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    z-index: 5;
    a{
        display: inline;
        font-family: 'Noteworthy-Light';
        font-size: $fontS_pc;
        @include max-screen($breakpoint_sp) {
          font-size: $fontS_sp;
      }
        color: $navy;
        text-decoration: none;
        padding: 0 1vw;
    }
    .link_works{
      color: $lightorange;
    }
}
.fixed_title{
  position: fixed;
  top: 0;
  left: 0;
  color: $navy;
  z-index: 2;
  text-align: center;
  background-color: white;
  padding: 5vh;
  a{
    color: $navy;
    text-decoration: none;
  }
  .main_title{
      font-family: 'Noteworthy-Bold';
      font-size: $fontM_pc;
      @include max-screen($breakpoint_sp) {
        font-size: $fontM_sp;
    }
  }
  
  .sub_title{
      font-family: 'Noteworthy-Light';
      font-size: $fontS_pc;
      @include max-screen($breakpoint_sp) {
        font-size: $fontS_sp;
    }
  }
}

.top{
  width: 100vw;
  height: 20vh;;
  position: relative;
  .top_image{
    position: absolute;
    top: 0;
    right: 0;
    width: 62vw;
    height: 20vh;
    z-index: 1;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 50%;
      z-index: 2;
    }
  }
  .title{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-family: 'Noteworthy-Bold';
    font-size: $fontTitle_pc;
    @include max-screen($breakpoint_sp) {
      font-size: $fontTitle_sp;
  }
    color: $navy;
    z-index: 3; 
  }
}

.description{
  // background-color: $lightorange;
  width: 37vw;
  // height: 60vh;
  font-size: $fontXS_pc;
  @include max-screen($breakpoint_sp) {
    font-size: $fontXS_sp;
  }
  font-family: 'UtsukushiFONT';
  color: $navy;
  padding: 21vh 0vh 6vh 6vh;
  position: relative;
  float:  left; 
  text-align: center;
  .app_context{
    margin: 0 auto 0;
    text-align: center;
    padding-bottom: 3vh;
  }
  .app_title{
    font-size: $fontM_pc;
    @include max-screen($breakpoint_sp) {
      font-size: $fontXS_sp;
    }
    text-align: center;
    padding-bottom: 3vh;
  }
  .app_icon{
    width: 20%;
    margin: 0 auto 0;
    padding-bottom: 3vh;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .app_overview{
    display: inline-block;
    margin: 0 auto 0;
    padding-bottom: 3vh;
    // position: absolute;
    // top: 95%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    text-align: left;
    line-height: $fontXS_pc + 5px;
    @include max-screen($breakpoint_sp) {
      line-height: $fontXS_sp + 5px;
    }
  }
}

.app_images{
  width: 60vw;
  // height: 60vh;
  background-color: $lightpink;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
  p{
    width: 10vw;
    height: auto;
    img{
      width: 100%;
      height: auto;
      // height: 100%;
    }
  }
}

.app_images_mov{
  width: 60vw;
  // height: 60vh;
  // background-color: $lightpink;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
  p{
    width: 10vw;
    height: auto;
    img{
      width: 100%;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
      // height: 100%;
    }
  }
  .mov{
    width: 30vw;
    video{
      width: 100%;
    }
  }
}

.app_images_bImg01{
  width: 60vw;
  // height: 60vh;
  // background-color: $lightpink;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
  p{
    width: 10vw;
    height: auto;
    img{
      width: 100%;
    }
  }
  .bImg{
    width: 20vw;
    margin: auto;
    img{
      width: 100%;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    }
  }
}

.app_images_onlyB{
  width: 60vw;
  // height: 60vh;
  // background-color: $lightpink;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
  p{
    width: 18vw;
    height: auto;
    img{
      width: 100%;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    }
  }
}

.app_images_onlyB_mov{
  width: 60vw;
  // height: 60vh;
  // background-color: $lightpink;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
  p{
    width: 20vw;
    height: auto;
    img{
      width: 90%;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    }
    video{
      width: 100%;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    }
  }
}

.app_bg{
  width: 80vw;
  font-size: $fontXS_pc;
  @include max-screen($breakpoint_sp) {
    font-size: $fontXS_sp;
  }
  font-family: 'UtsukushiFONT';
  color: $navy;
  background-color: $lightpink;
  padding: 6vh;
  margin: 6vh auto 6vh;
  p{
    margin-bottom: 1em;
    line-height: $fontXS_pc + 5px;
    @include max-screen($breakpoint_sp) {
      line-height: $fontXS_sp + 5px;
  }
  }
  a{
    color: $navy;
  }
}

.margin-top0{
  margin-top: 0;
}

.arrow{
  color: $navy;
  font-size: $fontS_pc;
  @include max-screen($breakpoint_sp) {
    font-size: $fontS_sp;
  }
  font-family: 'Noteworthy-Light';
  width: 100vw;
  padding-top: 6vh;
  position: relative;
  .arrowP{
    position: absolute;
    top: 0;
    left: 10vw;
  }
  .arrowN{
    position: absolute;
    top: 0;
    right: 10vw;
  }
  a{
    text-decoration: none;
    color: $navy;
  }
}

footer{
  width: 100vw;
  height: 5vh;
  background-color: $navy;
  margin-top: 4vh;
}

