/* font */
@font-face {
  font-family: 'Noteworthy-Bold';
  src: url("./fonts/Noteworthy-Bold-02.ttf");
}

@font-face {
  font-family: 'Noteworthy-Light';
  src: url("./fonts/Noteworthy-Light-01.ttf");
}

@font-face {
  font-family: 'UtsukushiFONT';
  src: url("./fonts/UtsukushiFONT.otf");
}

header {
  position: fixed;
  top: 3%;
  right: 3%;
  background-color: #fbeee8;
  border: 1px #022c48 solid;
  border-radius: 25px;
  padding: 0.5vw 2vw;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

header a {
  display: inline;
  font-family: 'Noteworthy-Light';
  font-size: 15px;
  color: #022c48;
  text-decoration: none;
  padding: 0 1vw;
}

@media screen and (max-width: 736px) {
  header a {
    font-size: 8px;
  }
}

header .link_works {
  color: #ffd3bf;
}

.fixed_title {
  position: fixed;
  top: 0;
  left: 0;
  color: #022c48;
  z-index: 2;
  text-align: center;
  background-color: white;
  padding: 5vh;
}

.fixed_title a {
  color: #022c48;
  text-decoration: none;
}

.fixed_title .main_title {
  font-family: 'Noteworthy-Bold';
  font-size: 25px;
}

@media screen and (max-width: 736px) {
  .fixed_title .main_title {
    font-size: 15px;
  }
}

.fixed_title .sub_title {
  font-family: 'Noteworthy-Light';
  font-size: 15px;
}

@media screen and (max-width: 736px) {
  .fixed_title .sub_title {
    font-size: 8px;
  }
}

.top {
  width: 100vw;
  height: 20vh;
  position: relative;
}

.top .top_image {
  position: absolute;
  top: 0;
  right: 0;
  width: 62vw;
  height: 20vh;
  z-index: 1;
}

.top .top_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
  z-index: 2;
}

.top .title {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: 'Noteworthy-Bold';
  font-size: 80px;
  color: #022c48;
  z-index: 3;
}

@media screen and (max-width: 736px) {
  .top .title {
    font-size: 50px;
  }
}

.description {
  width: 37vw;
  font-size: 12px;
  font-family: 'UtsukushiFONT';
  color: #022c48;
  padding: 21vh 0vh 6vh 6vh;
  position: relative;
  float: left;
  text-align: center;
}

@media screen and (max-width: 736px) {
  .description {
    font-size: 6px;
  }
}

.description .app_context {
  margin: 0 auto 0;
  text-align: center;
  padding-bottom: 3vh;
}

.description .app_title {
  font-size: 25px;
  text-align: center;
  padding-bottom: 3vh;
}

@media screen and (max-width: 736px) {
  .description .app_title {
    font-size: 6px;
  }
}

.description .app_icon {
  width: 20%;
  margin: 0 auto 0;
  padding-bottom: 3vh;
}

.description .app_icon img {
  width: 100%;
  height: 100%;
}

.description .app_overview {
  display: inline-block;
  margin: 0 auto 0;
  padding-bottom: 3vh;
  text-align: left;
  line-height: 17px;
}

@media screen and (max-width: 736px) {
  .description .app_overview {
    line-height: 11px;
  }
}

.app_images {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
}

.app_images p {
  width: 10vw;
  height: auto;
}

.app_images p img {
  width: 100%;
}

.app_images_mov {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
}

.app_images_mov p {
  width: 10vw;
  height: auto;
}

.app_images_mov p img {
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.app_images_mov .mov {
  width: 30vw;
}

.app_images_mov .mov video {
  width: 100%;
}

.app_images_bImg01 {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
}

.app_images_bImg01 p {
  width: 10vw;
  height: auto;
}

.app_images_bImg01 p img {
  width: 100%;
}

.app_images_bImg01 .bImg {
  width: 20vw;
  margin: auto;
}

.app_images_bImg01 .bImg img {
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.app_images_onlyB {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
}

.app_images_onlyB p {
  width: 18vw;
  height: auto;
}

.app_images_onlyB p img {
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.app_images_onlyB_mov {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding: 21vh 6vh 6vh 0vh;
}

.app_images_onlyB_mov p {
  width: 20vw;
  height: auto;
}

.app_images_onlyB_mov p img {
  width: 90%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.app_images_onlyB_mov p video {
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.app_bg {
  width: 80vw;
  font-size: 12px;
  font-family: 'UtsukushiFONT';
  color: #022c48;
  background-color: #fbeee8;
  padding: 6vh;
  margin: 6vh auto 6vh;
}

@media screen and (max-width: 736px) {
  .app_bg {
    font-size: 6px;
  }
}

.app_bg p {
  margin-bottom: 1em;
  line-height: 17px;
}

@media screen and (max-width: 736px) {
  .app_bg p {
    line-height: 11px;
  }
}

.app_bg a {
  color: #022c48;
}

.margin-top0 {
  margin-top: 0;
}

.arrow {
  color: #022c48;
  font-size: 15px;
  font-family: 'Noteworthy-Light';
  width: 100vw;
  padding-top: 6vh;
  position: relative;
}

@media screen and (max-width: 736px) {
  .arrow {
    font-size: 8px;
  }
}

.arrow .arrowP {
  position: absolute;
  top: 0;
  left: 10vw;
}

.arrow .arrowN {
  position: absolute;
  top: 0;
  right: 10vw;
}

.arrow a {
  text-decoration: none;
  color: #022c48;
}

footer {
  width: 100vw;
  height: 5vh;
  background-color: #022c48;
  margin-top: 4vh;
}
